/*
 * Database Name: {{database_name}}
 * Dialect: {{dialect}}
 */

-- create database
CREATE DATABASE {{database_name}};

-- create tables
{% for table in tables %}
CREATE TABLE {{ table.table_name }} (
    {% for column in table.columns %}
        {% for value in column.names %}
            {{ value.value }},
        {% endfor %}
        {% if loop.last %}{% else %},{% endif %}
    {% endfor %}
);
{% endfor %}